HOST=0.0.0.0
PORT=8080
APP_KEYS=5vBxqm1U6IUEsrp 
API_TOKEN_SALT=IXzvnb9BV8K67cA 
ADMIN_JWT_SECRET=Jxn72y8C47NZHSN 
TRANSFER_TOKEN_SALT=AWC0uwP9fGw6Ghb 
ENCRYPTION_KEY=oC9iM2M3EfDKTw8 
JWT_SECRET=mcx0ne7o9VoFIGe
